/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

* > * {
    /* font-family: "Poppins", cursive; */
    margin: 0;
}

:root{
    --color-dark: #2C3131;
    --color-light: #be0dea;
}

#main {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 40px);
    overflow-y: auto;
    scroll-behavior: smooth;
	margin-bottom: 20em;
}


.board {
    text-align: center;
	width: 50%;
	margin-top: 2em;
}

.board .leaderboard{
    margin-bottom: 1em;
	color: #0a04ad;
	font-size: 2.5em;
}

#leadProfile{
	border : 10px solid #0a04ad;
	border-radius: 30px;
    margin-top: 3em;
	padding: 100px;
	overflow-y: auto;
	margin-bottom: 20em;
	background-color: #dee5f4;
}

#leadProfile .flex{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    text-align: left;
    margin-bottom: 2em;
}

#leadProfile .flex .item{
    display: flex;
    align-items: center;
	gap: 3em;
}

#leadProfile .flex img{
    width: 60px;  /* Desired width */
    height: 60px; /* Desired height */
    object-fit: cover;
    border-radius: 50%;
}

#leadProfile .flex .info{
   padding: 1em;
}

.text-dark{
    color: var(--color-light);
}

.info .total-points {
    display: block; /* Ensures that the points are on a new line */
    margin-bottom: 8px; /* Adds space below the total points */
}

.stats .stat {
    display: inline-block; /* Allows items to sit side-by-side */
    margin-right: 15px; /* Space between different stats */
}

.stat strong {
	margin-left: 5px; /* Space between the label and the number */
}

 /* Style for NavLink */
  .nav-link {
	color: #333; /* Change the color of the link */
	text-decoration: none; /* Remove underline */
	padding: 8px 12px; /* Add padding */
	border-radius: 5px; /* Add rounded corners */
	margin-bottom: 6rem;
  }

  /* Style for active NavLink */
  .nav-link.active {
	background-color: #f0f0f0; /* Change background color when active */
	font-weight: bold; /* Make text bold when active */
  }
