# Ignore temporary files
*.tmp

# Ignore log files
.DS_Store

# Ignore node modules
node_modules/

# Ignore .git directories
.git/

# Ignore environment configuration files
.env

# Ignore SSL certificate files
*.crt
*.key