# Ignore environment files
.env
.env.*

# Ignore all node_modules
node_modules/
/node_modules/

# Ignore distribution directories
dist/
/dist/

# Ignore Visual Studio Code settings
.vscode/
.vscode/*

# Ignore macOS system files
.DS_Store
