.main {
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 20px;
  }

.profile {
    border: 10px solid #0a04ad;
    border-radius: 10px;
    height: 100%;
    margin-top: 3em;
    padding: 10px;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin-bottom: 10em;
    background-color: #dee5f4;
    box-sizing: border-box;
  }

.main::-webkit-scrollbar,
.profile::-webkit-scrollbar {
    width: 8px;
  }

.main::-webkit-scrollbar-thumb,
.profile::-webkit-scrollbar-thumb {
    background-color: #0a04ad;
    border-radius: 30px;
  }

.main::-webkit-scrollbar-track,
.profile::-webkit-scrollbar-track {
    background: #dee5f4;
    border-radius: 30px;
  }

.main,
.profile {
    scrollbar-width: thin;
    scrollbar-color: #0a04ad #dee5f4;
  }

.main,
.profile * {
    box-sizing: border-box; /* Ensure all child elements use border-box */
  }

.profile .flex{
  gap: 1em;
  text-align: left;
  flex-direction: column;

}

.profile .flex .item{
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 30px;
}

.profile .flex img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.profile .flex .info{
  padding: 0;
}

.profile-text{
  color: #0d045a;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.profile-text-dark{
  color: #0d045a;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #a09df0;

}

.status-indicator {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.game{
  background-color: blue;
}

.stats .stat {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.stat-column{
  margin-right: 15px; /* Space between different stats */
  margin-bottom: 10px;
  display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.stat strong {
	margin-left: 5px; /* Space between the label and the number */
  color: #0f0f0f; /* Change the color of the number */
  margin-bottom: 10px;
}

 .title {
  display: inline;
  color: #0a04ad;
  font-size: 2em;
  /* padding: 25px; */
  }

.friends {
    /* width: 100px; */
    border: 1px solid #a09df0;
    width: 600px;
    flex-direction: column;
    /* flex-wrap: wrap; */
    padding: 10px;
  }

  .friends ul {
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .friends li {
    margin-bottom: 10px; /* Add space between nav links */
  }

.friends .nav-link {
    color: #130682;
    /* padding: 20px; */
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

.friends .nav-link:hover,
.friends .nav-link.active {
    background-color: #130682;
    color: #ffffff;
    padding: 10px;
    border-radius: 30px;
  }

.friends .statsFriends {
    display: inline-block;
    margin-right: 15px;
    color: #130682;
  }

  .userMatchHistory {
    border: 1px solid #a09df0;
    padding: 10px;
    margin-top: 10px;
  }
