.header {
	max-width: 100%;
	padding: 2rem;
	display: flex;
	gap: 10em;
	align-items: center;
	justify-content: space-between;
	/* background-color: rgb(252 211 77); */
	background-color: #02893a;
	margin-bottom: 5 rem;
	height: 100px;
  }

  .name {
	font-size: 1.5rem;
	position: relative;
	align-items: right;
  }

  .list {
	display: flex;
  }

  .list a {
	text-decoration: none;
	/* color: var(--color-primary-400); */
	color: black;
	margin: 0em 20px;
	padding: 10px;
	border-radius: 12px;
  }

  .list a:hover,
  .list a.active {
	background-color: rgb(252, 195, 10);
	border: 0.01px solid rgb(252, 195, 10);
	border-radius: 12px;
	padding: 10px;
	margin: 0em 20px;
	box-shadow: 1px 2px 5px 3px #783801;
	/* color: var(--color-primary-800); */
  }

  .avatar {
	float: left;
	height: fit-content;
  }

  .avatarImage {
	border: none;
	border-radius: 50%;
	width: 70px;
	background-color: #f6790b;
	box-shadow: 1px 2px 5px 3px #783801;
}

 .logoutButton{
	padding: 10px 20px;
	background-color: #f6790b;
	border: none;
	border-radius: 12px;
	box-shadow: 1px 2px 5px 3px #783801;
}

 .logo {
	float: right;
	height: fit-content;
  }

 .logoImage {
	border: none;
	border-radius:  12px;
	width: 60px;
	height: 60px;
	box-shadow: 1px 2px 5px 3px #783801;
}
