  .header {
    max-width: 100%;
    padding: 2rem;
    display: flex;
    gap: 2rem; /* Adjusted from 10em to 2rem */
    align-items: center;
    justify-content: space-between;
    background-color: #02893a;
    height: auto; /* Changed to auto for flexibility */
    flex-wrap: wrap; /* Allows items to wrap */
 }


  .name {
	font-size: 1.5rem;
	position: relative;
	align-items: right;
  }

  .list {
	display: flex;
	flex-wrap: wrap;
  }

  .list a {
	text-decoration: none;
	/* color: var(--color-primary-400); */
	color: black;
	margin: 0em 20px;
	padding: 10px;
	border-radius: 12px;
  }

  .list a:hover,
  .list a.active {
	background-color: rgb(252, 195, 10);
	border: 0.01px solid rgb(252, 195, 10);
	border-radius: 12px;
	padding: 10px;
	margin: 0em 20px;
	box-shadow: 1px 2px 5px 3px #783801;
	/* color: var(--color-primary-800); */
  }

  .avatar .flex{
	float: left;
	display: flex;
  }

  .avatar .flex .item{
    display: flex;
    align-items: center;
	gap: 1em;
    padding: 30px;
  }

  .avatar .flex img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  .avatarImage {
	border: none;
	border-radius: 50%;
	width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
	gap: 1em;
  }

 .logoutButton{
	padding: 10px 20px;
	background-color: #f6790b;
	border: none;
	border-radius: 12px;
	box-shadow: 1px 2px 5px 3px #783801;
}

 .logo {
	float: right;
	height: fit-content;
  }

 .logoImage {
	border: none;
	border-radius:  12px;
	width: 60px;
	height: 60px;
	box-shadow: 1px 2px 5px 3px #783801;
}
