.content {
	margin: 5em auto;
	text-align: center;
  }

  .imageWithMargin {
	margin-left: 250px;
  }

	.backButton {
		width: 200px;
		flex-direction: row;
		align-items: center;
		border: none;
		border-radius: 30px;
		padding: 5px 30px;
		background: linear-gradient(138deg, rgb(113, 153, 247) 41.7%, rgb(66, 63, 157) 94.4%, rgb(255, 255, 255) 119.7%);
	}

	.backButton:hover {
		box-shadow: rgba(113, 153, 247, .2) 0 3px 15px inset, rgba(10, 4, 173, .91) 0 3px 5px, rgba(10, 4, 173, .91) 0 10px 13px;
		transform: scale(1.05);
	}
