/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif;
}

.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.chat__sidebar {
  height: 100%;
  background-color: #4b4a47;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #fcf3e1;
}
.chat__main {
  height: 100%;
  flex: 0.8;
}
.chat__header {
  margin: 30px 0 20px 0;
}
.chat__users > * {
  margin-bottom: 10px;
  color: #f6ad1b;
  font-size: 14px;
  font-family: "Gill Sans", sans-serif;
  font-weight: bold;
  color: #fcf3e1;
}
.online__users > * {
  margin-bottom: 10px;
  color: rgb(238, 102, 102);
  font-style: italic;
  font-family: "Gill Sans", sans-serif;
  font-weight: bold;
  color: #fcf3e1;
}
.chat__mainHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #31302e;
}
.leaveChat__btn {
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
  border-radius: 0.50rem;
	cursor: pointer;
  background-color: #d1512d;
  cursor: pointer;
  color: #eae3d2;
}
.message__container {
  width: 100%;
  height: 80vh;
  background-color: #fcf3e1;
  /* background-color: #f9f5eb; */
  padding: 20px;
  /* overflow-y: scroll; */
}

.message__container > * {
  margin-bottom: 10px;
}
.chat__footer {
  padding: 10px;
  width: 100;
  background-color: #ffd37c;
  height: 10vh;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #fcf3e1;
  outline: none;
  padding: 15px;
}
.sendBtn {
  width: 150px;
  background-color: #f6ad1b;
  padding: 10px;
  border-radius: 0.50rem;
	cursor: pointer;
  border: none;
  outline: none;
  color: #31302e;
  cursor: pointer;
}
.sendBtn:hover {
  background-color: #f6790b;
}

.message__recipient {
  background-color: #31302e;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}
.message__sender {
  background-color: #f6ad1b;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  font-size: 15px;
}
.message__chats > p {
  font-size: 13px;
}
.sender__name {
  text-align: right;
}
.message__status {
  position: fixed;
  bottom: 50px;
  font-size: 13px;
  font-style: italic;
}

