.member-status-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.member-status {
    margin-bottom: 0;
    position: relative;
}

.sidebar-online-status {
    color: green;
}

.sidebar-offline-status {
    color: #e3b505;
}

.sidebar-offline-status,
.sidebar-online-status {
    font-size: 11px;
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 12px;
}

.gradient-badge {
    background: linear-gradient(in oklab, #09467f 10%, #2386a2 90%);
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50rem;
}