body {
  font-family: 'Roboto', sans-serif;
}

.header {
  max-width: 100%;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  /* background: linear-gradient(45deg, blue, #0d6efd); */
  background: linear-gradient(in oklab, blue, #0d6efd);
  height: auto;
  flex-wrap: wrap;
  /* border: solid 2px #FCC30A; */
}


.avatar {
  display: flex;
  align-items: center;
}

.avatarImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  box-shadow: 8px 5px 5px #0d045a;

}

.name {
  position: relative;
  color:  orange;
  text-shadow: 1px 1px 3px black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list button {
  margin-top: 15px;
  width: 125px;
  background-color:orange;
  border: none;
  border-radius: 30px;
  color: #0a04ad;
  padding: 10px;
  margin-right: 50px;
  cursor: pointer;
}

.list button:hover,
.list button.active {
  background-color: #FCC30A;
  color: #0d6efd;
  box-shadow: rgba(246, 156, 82, 0.2) 0 3px 15px inset, rgba(202, 89, 3, 0.91) 0 3px 5px, rgba(202, 89, 3, .91) 0 10px 13px;
  border-radius: 30px;
  padding: 10px;
  margin-right: 50px;
  cursor: pointer;
  transform: scale(1.05);
}

.logoutButton{
	width: 125px;
  padding: 10px;
  background-color: orange;
  border: none;
  color: #0a04ad;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin-top: -10px;
  margin-left: -30px;
  margin-right: 50px;

}

.logoutButton:hover {
  background-color: #FCC30A;
  color: #0d6efd;
  box-shadow: rgba(246, 156, 82, 0.2) 0 3px 15px inset, rgba(202, 89, 3, 0.91) 0 3px 5px, rgba(202, 89, 3, .91) 0 10px 13px;
  transform: scale(1.05);
}

