body {
  font-family: 'Roboto', sans-serif;
}

.header {
  max-width: 100%;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(circle, #7199f7 0%, #0a04ad 100%);
  height: auto;
  flex-wrap: wrap;
  /* border: solid 2px #FCC30A; */
}


.avatar {
  display: flex;
  align-items: center;
}

.avatarImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
}

.name {
  position: relative;
  color:  #FCC30A;
  /* margin-left: 1rem; */
  text-shadow: 1px 1px 3px black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 80px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list button {
  background-color: #FCC30A;
  border: none;
  border-radius: 30px;
  box-shadow: 1px 2px 5px 3px #bb7d02;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #0a04ad;
  padding: 10px;
  margin-right: 50px;
  font-size: 16px;
  cursor: pointer;
  text-shadow: 1px 1px 1px white;
}

.list button:hover,
.list button.active {
  background-color: #e49b07;
  color: white;
  box-shadow: 1px 2px 5px 3px #FCC30A;
  text-shadow: 1px 1px 1px #0a0afc;
  border-radius: 30px;
  padding: 10px;
  margin-right: 50px;
  cursor: pointer;
}

.logoutButton{
  padding: 10px 20px;
  background-color: #FCC30A;
  border: none;
  color: #0a04ad;
  border-radius: 30px;
  box-shadow: 1px 2px 5px 3px #bb7d02;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: #e49b07;
  color: white;
  box-shadow: 1px 2px 5px 3px #FCC30A;
  text-shadow: 1px 1px 1px #0a0afc;

}

