.main {
	height: 100vh;
	overflow-y: auto;
	scroll-behavior: smooth;
	  margin-bottom: 20em;
	padding: 50px;
  }

.settings {
	border-radius: 30px;
	height: 100%;
	margin-top: 3em;
	padding: 10px;
	overflow-y: auto;
	margin-bottom: 10em;
}

.settings .flex{
	gap: 1em;
	text-align: left;
	margin-bottom: 2em;
}

.settings .flex .item{
	display: flex;
	align-items: center;
	gap: 1em;
	padding: 30px;
}

.text{
	color: #0d045a;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.5em;
	padding: 10px;
}

.text-dark{
	color: #0d045a;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #a09df0;
	padding: 10px;
}

.settings .flex img{
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
}

.name-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type="file"] {
	margin-top: 10px;
	margin-bottom: 10px;
}

input[type="text"] {
	margin-top: 10px;
	margin-left: 55px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.Change2FA{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 30px;
	margin-top: 20px;
}

.Info2fa {
	color: #3e0965;
	margin-top: 30px;
	margin-right: 55px;
}

.bi-qr-code-scan {
	margin-right: 20px;
}

.TwoFA {
	width: 200px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 30px;
	padding: 15px 30px;
	background: repeating-conic-gradient(
	from 0deg at 80% 50%,
	#5691f580 0% 8.25%,
	#b338ff80 8.25% 16.5%,
	#f8305880 16.5% 25%
	), repeating-conic-gradient(
	from 15deg at 50% 50%,
	#e856f580 0% 8.25%,
	#ff384c80 8.25% 16.5%,
	#f8af3080 16.5% 25%
	), repeating-conic-gradient(from 0deg at 20% 50%,
		#f58356ff 0% 8.25%,
		rgb(255, 242, 56) 8.25% 16.5%,
		rgb(4, 106, 50) 16.5% 5%);
}


