.main {
	height: 100vh;
	margin-bottom: 20em;
	padding: 50px;
  }

.settings {
	border : 2px solid #0a04ad;
	border-radius: 30px;
    margin-top: 3em;
	padding: 30px;
	margin-bottom: 20em;
	background-color: #dee5f4;
	box-shadow: 12px 5px 2px 1px rgba(0, 0, 255, .2);
}

.title {
    margin-bottom: 1em;
	color: #0a04ad;
	font-size: 2.5em;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.settings .flex{
	gap: 1em;
	text-align: left;
	margin-bottom: 2em;
}

.settings .flex .item{
	display: flex;
    width: 100%;
	margin-top: 20px;
    align-items: center;
	gap: 2em;
    border: 2px solid #a09df0;
	/* border: 2px solid #78aaf6; */
    box-shadow: 12px 5px 2px 1px rgba(0, 0, 255, .2);
    padding: 10px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;

}
.text{
	color: #0d045a;
	border: 2px solid #a09df0;
    box-shadow: 12px 5px 2px 1px rgba(0, 0, 255, .2);
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.1em;
	padding: 10px;
}

.text-dark{
	color: #0d045a;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #a09df0;
	padding: 10px;
}

.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 8px 5px 5px #0d045a;
}

.name-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type="file"] {
	margin-top: 10px;
	margin-bottom: 10px;
}

input[type="text"] {
	margin-top: 10px;
	margin-left: 5px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.Change2FA {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.Info2fa {
	color: #3e0965;
	margin-top: 30px;
	margin-right: 55px;
}

.bi-qr-code-scan {
	margin-right: 20px;

}

.qr-container {
	display: flex;
	align-items: center;
	flex-direction: column;

	margin-top: 20px;
	border: none;
  }

.qr-code {
	max-width: 200px;
	margin-bottom: 20px;
	width: 200px;
	border-radius: 0;
	padding: 10px;
  }

.settings-button {
	width: 150px;
	border: none;
	border-radius: 30px;
	padding: 5px 20px;
	background: linear-gradient(138deg, #3686fe 38%, blue 84.4%);
	color: #fff;
	cursor: pointer;
	transition: transform 0.2s, box-shadow 0.2s;
}

.settings-button:hover {
	box-shadow: rgba(113, 153, 247, .2) 0 3px 15px inset, rgba(10, 4, 173, .91) 0 3px 5px, rgba(10, 4, 173, .91) 0 10px 13px;
	transform: scale(1.05);
}

.TwoFA {
	width: 150px;
	height: 55px;
	display: flex;
	align-items: center;    
	border: none;
	border-radius: 30px;
	padding: 5px 20px;
	background: linear-gradient(138deg, #3686fe 38%, blue 84.4%);
	color: #fff;
	cursor: pointer;
	transition: transform 0.2s, box-shadow 0.2s;
}

.TwoFA:hover {
	box-shadow: rgba(113, 153, 247, .2) 0 3px 15px inset, rgba(10, 4, 173, .91) 0 3px 5px, rgba(10, 4, 173, .91) 0 10px 13px;
	transform: scale(1.05);
}

.error2fa {
	background-color: #f8d7da;
	color: #721c24;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  }

.custom-file-input {
    display: none;
}

.custom-file-label {
	width: 150px;
	border: none;
	border-radius: 30px;
	padding: 5px 20px;
	background: linear-gradient(138deg, rgb(113, 153, 247) 36.7%, rgb(10, 4, 173) 84.4%);
	color: #fff;
	cursor: pointer;
	transition: transform 0.2s, box-shadow 0.2s;
}

.custom-file-label:hover {
	box-shadow: rgba(113, 153, 247, .2) 0 3px 15px inset, rgba(10, 4, 173, .91) 0 3px 5px, rgba(10, 4, 173, .91) 0 10px 13px;
	transform: scale(1.05);
}

.custom-file-label:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.custom-file-label-off {
	width: 150px;
	border: none;
	border-radius: 30px;
	padding: 5px 20px;
	background: linear-gradient(138deg, rgb(130, 147, 185) 36.7%, rgb(34, 33, 55) 84.4%);
	color: #666;
	cursor: pointer;
	transition: transform 0.2s, box-shadow 0.2s;
}
