body
{
	margin:		0;
	padding:	0;
	overflow:	hidden;
}

#game
{
	min-height:	300px;
	min-width:	400px;
	height:	calc(100vh - 80px);/* https://stackoverflow.com/questions/42937286/css-get-property-of-other-element */
	width:	100%;

	top:	max(0%, 80px)	;
	overflow:	visible;

	border: 2px solid #333;
	margin: 0px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: #f0f0f0; */
}

#gameBackground,
#gameHUD,
#gamePongCanvas
{
	aspect-ratio: 4/3;
	max-width:	100%;
	min-width:	40px;
	max-height:	100%;
	width: 69%;
	position:	absolute;
	/* top:	50%;
	left:	50%;
	transform:	translate(-50%, -50%); */
}
