* {
  box-sizing: border-box;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle, #f4f3f1 0%, #fae1af 100%);
  /* background: radial-gradient(circle, #1f1d1b 0%, #fcf3e1 100%); */
  /* background: linear-gradient(#1f1d1b, #dddbd8); */

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-primary-100: #fcf3e1;
  --color-primary-200: #fceccd;
  --color-primary-300: #fae1af;
  --color-primary-400: #fbd997;
  --color-primary-500: #ffd37c;
  --color-primary-600: #f9c762;
  --color-primary-700: #fbc14d;
  --color-primary-800: #fab833;
  --color-primary-900: #f6ad1b;
}

.login-container main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
  }

.login-container img {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 400px;
  margin-top: 1rem ;
  margin-bottom: 10rem ;
}

.login-container button {
	background-color: #f6790b;
	padding: 1rem 2rem;
	border: none;
	box-shadow: 0 0 0 22px #facb03; /* add a box-shadow to mimic a border */
	border-radius: 0.50rem;
	cursor: pointer;
	font-family: "Gill Sans", sans-serif;
	font-weight: bold; 
	color:#110805;
	font-size: 3rem;
	margin-top : 4rem;
	margin-bottom : 6rem;
	transition: background-color 0.3s ease;
	text-shadow: -2px -2px 0 #f6790b;
}
.login-container button:hover {
  background-color: #facb03; /* Change background color on hover if needed */
}

.active {
  background-color: #facb03; /* Apply different styles for the active NavLink if needed */
}

/* HTML: <div class="loader"></div> */

.loader {
  width: 200px;
  height: 170px;
  border: 5px solid #000;
  padding: 0 8px;
  box-sizing: border-box;
  background: linear-gradient(#fff 0 0) 0 0/8px 20px,
    linear-gradient(#fff 0 0) 100% 0/8px 20px,
    radial-gradient(farthest-side, #fff 90%, #0000) 0 5px/8px 8px content-box,
    #000;
  background-repeat: no-repeat;
  animation: l3 2s infinite linear;
  margin-top: 3rem ;

}
@keyframes l3 {
  25% {
    background-position: 0 0, 100% 100%, 100% calc(100% - 5px);
  }
  50% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 5px);
  }
  75% {
    background-position: 0 100%, 100% 0, 100% 5px;
  }
}
