@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

:root{
    --color-dark: #2C3131;
    --color-light: #be0dea;
}

/* .main {
	display: flex;
    border: solid 1px #1e1d1c;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    scroll-behavior: smooth;
	margin-bottom: 20em;
} */


.userProfile{
	text-align: center;
	width: 90%;
	height: 90vh;
	border : 10px solid #f6790b;
	border-radius: 30px;
	overflow-y: auto;
    margin-top: 3em;
	margin-bottom: 3em;
	margin-left: 3em;
	margin-right: 3em;
    height: calc(100vh - 40px);
    padding: 20px 0;
	background-color: antiquewhite;
    padding: 20px; /*Top and bottom padding combined in shorthand */
    overflow-y: auto;
    scroll-behavior: smooth;
}

.userName{
	margin-bottom: 1em;
	color: #f6790b;
	font-size: 2.5em;
}
.userProfile .flex{
	display: flex;
    gap: 1em;
    text-align: left;
    margin-bottom: 2em;
}

.userProfile .flex .item{
    display: flex;
    align-items: center;
	gap: 3em;
}

.userProfile .flex img{
    width: 50%;
    border-radius: 50%;
}

.userProfile .flex .info{
   padding: 1em;
}

.text-dark{
    color: var(--color-light);
}

.info .total-points {
    display: block; /* Ensures that the points are on a new line */
    margin-bottom: 8px; /* Adds space below the total points */
}

.stats .stat {
    display: inline-block; /* Allows items to sit side-by-side */
    margin-right: 15px; /* Space between different stats */
}

.stat strong {
	margin-left: 5px; /* Space between the label and the number */
}
