.main {
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
	margin-bottom: 20em;
}

.profile{
	border : 10px solid #f6790b;
	border-radius: 30px;
    height: 100%;
    margin-top: 3em;
	padding: 10px;
	overflow-y: auto;
	margin-bottom: 10em;
	background-color: antiquewhite;
}

.profile .flex{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    text-align: left;
    margin-bottom: 2em;
}

.profile .flex .item{
    display: flex;
    align-items: center;
	gap: 3em;
    padding: 50px;
}

.profile .flex img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.profile .flex .info{
   padding: 1em;
}

.text-dark{
    color: var(--color-light);
}

.info .total-points {
    display: block; /* Ensures that the points are on a new line */
    margin-bottom: 8px; /* Adds space below the total points */
}

.stats .stat {
    display: inline-block; /* Allows items to sit side-by-side */
    margin-right: 15px; /* Space between different stats */
}

.stat strong {
	margin-left: 5px; /* Space between the label and the number */
}


  /* Style for NavLink */
.nav-link {
	color: #333; /* Change the color of the link */
	text-decoration: none; /* Remove underline */
	padding: 8px 12px; /* Add padding */
	border-radius: 5px; /* Add rounded corners */
	margin-bottom: 6rem;
  }

  /* Style for active NavLink */
.nav-link.active {
	background-color: #f0f0f0; /* Change background color when active */
	font-weight: bold; /* Make text bold when active */
  }

.friends {
	display: flex;
	flex-direction: column;
    border : 10px solid #f47404;
	gap: 1rem;
	padding: 1rem;
}
