.main {
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
	margin-bottom: 20em;
    padding: 50px;
}

.settings{
	border : 10px solid #f6790b;
	border-radius: 30px;
    height: 100%;
    margin-top: 3em;
	padding: 10px;
	overflow-y: auto;
	margin-bottom: 10em;
	background-color: antiquewhite;
}

.settings .flex{
    gap: 1em;
    text-align: left;
    margin-bottom: 2em;
}

.settings .flex .item{
    display: flex;
    align-items: center;
	gap: 1em;
    padding: 30px;
}

.settings .flex img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
