.loginTfa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.tfa-title {
  margin-bottom: 1em;
  color: #09467f;
  font-size: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tfa-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 300px;
  height: 2.5rem;
  font-size: 1rem;
  margin-bottom: 20px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input::placeholder {
  font-size: 1rem;
  color: #888;
}

.twoFaButton {
 border: none;
  border-radius: 30px;
  padding: 5px 20px;
  background: linear-gradient(in oklab, #09467f 10%, #2386a2 90%);
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.twoFaButton:hover {
   box-shadow: rgba(35, 174, 212, 0.3) 0 3px 15px inset,
    rgba(35, 174, 212, 0.6) 0 3px 5px, rgba(35, 174, 212, 0.5) 0 10px 13px;
  transform: scale(1.05);
}

.error-bar {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
}

.errortext {
  color: red;
  font-size: 1rem;
  background: #fff;
  padding: 10px 20px;
  border: 1px solid red;
  border-radius: 5px;
}
